table.table tr.rowselect {
	background-color: #ddf;
}
table.pager tr{
	border-top: 1px solid #e0e0e0;
}
table.pager td{
	border: 0px;
}
table.pager .enabled {
	text-decoration: underline;
	cursor: pointer;
}
table.pager .disabled {
	color: #e0e0e0;
}