<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="Keywords" content="jquery,table,grid,スマートフォン,スマフォ,スマホ,ページャ,列縦表示,列行表示,マルチデバイス,マルチプラットフォーム,dosancole" />
    <meta property="og:image" content="http://www.dosancole.com/dscltable/images/logo.png"/>
    <title>dscltable.js - 列の行表示切り替え可能、簡便jqueryテーブル</title>
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/default.css">
	<script type="text/javascript" src="web/js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="web/js/dscltable.js" ></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    
    <!-- common -->
    <script type="text/javascript">
	(function(w,d){
	    w.___gcfg={lang:"ja"};
	    var s,e = d.getElementsByTagName("script")[0],
	    a=function(u,f){if(!d.getElementById(f)){s=d.createElement("script");
	    s.src=u;if(f){s.id=f;}e.parentNode.insertBefore(s,e);}};
	    a("https://apis.google.com/js/plusone.js");
	    a("//b.st-hatena.com/js/bookmark_button_wo_al.js");
	    a("//platform.twitter.com/widgets.js","twitter-wjs");
	})(this, document);
    </script>
  </head>
  <body>
	<!-- google analytics -->
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-33920795-2']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>

	<!-- facebook -->
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

<div class="wrapper">
      <header>
        <h1>dscltable.js</h1>
        <p>
        dscltable.js is a limited-functional table for jQuery.
        </p>

        <p>maintained by <a href="https://github.com/dosancole">dosancole</a> / <a href="http://twitter.com/dosancole">@dosancole</a></p>
        <p class="view"><a href="https://github.com/dosancole/dscltable">View the Project on GitHub <small>dosancole/dscltable</small>
        </a></p>

        <ul>
          <li><a href="download_zip.html">Download <strong>ZIP File</strong></a></li>
          <li><a href="download_tar.html">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/dosancole/dscltable">View On <strong>GitHub</strong></a></li>
        </ul>

		<div class="social">
		    <!-- Twitter -->
		    <a href="https://twitter.com/share" class="twitter-share-button"
		    data-lang="ja"
		    data-url="http://www.dosancole.com/dscltable/"
		    data-text="このエントリーをツィートする"
		    data-via="me"
		    ></a><br/>
		    <!-- Google plusone -->
		    <g:plusone size="medium" href="http://www.dosancole.com/dscltable/"></g:plusone><br/>
		    <!-- Hatena -->
		    <a href="http://b.hatena.ne.jp/entry/" class="hatena-bookmark-button"
		    data-hatena-bookmark-layout="standard"
		    data-hatena-bookmark-url="http://www.dosancole.com/dscltable/">
		    <img src="http://b.st-hatena.com/images/entry-button/button-only.gif"
		        alt="このエントリーをはてなブックマークに追加" width="20" height="20"
		        style="border: none">
		    </a><br/>
		    <!-- Facebook Like -->
			<div class="fb-like" data-href="http://www.dosancole.com/dscltable/" data-send="false" data-layout="button_count" data-width="200" data-show-faces="true"></div>
		</div>
		<br/>
        <span style="font-style: italic;font-size:12px;">→ 表頭表側固定の多機能jQueryテーブルはこちら<br/>( <a href="http://www.dosancole.com/dsclgrid/">dsclgrid.js</a> 姉妹品)</span>

      </header>
      <section>
{{ content }}
    <!-- Facebook Comment -->
	<div class="fb-comments" data-href="http://www.dosancole.com/dscltable/" data-width="500" data-num-posts="5"></div>

      </section>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    
  </body>
</html>